.logbook-container {
    margin: 20px auto;
    max-width:90%;
  }
  
  .logbook-table {
    width: 100%;
    font-family: "Madimi One", sans-serif;
    border-collapse: collapse;
    border: 1px solid #0370ff;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .logbook-table th,
  .logbook-table td {
    padding: 8px;
    font-family: "Madimi One", sans-serif;
    text-align: center;
    border: 1px solid #0370ff;
  }
  
  .logbook-table th {
    background-color: #8decec;
    color: black;
  }
  
  .logbook-table tbody tr:nth-child(even) {
    font-family: "Madimi One", sans-serif;
    background-color: #a6c8d3;
  }
  
  .logbook-table tbody tr:nth-child(odd) {
    font-family: "Madimi One", sans-serif;
    background-color: #e0edff;
  }
  
  .logbook-table tbody td {
    font-family: "Madimi One", sans-serif;
    color: black;
  }
  
  .logbook-table thead tr,
  .logbook-table tbody tr:last-child {
    font-family: "Madimi One", sans-serif;
    border-bottom: 2px solid #0370ff;
  }
  
  .logbook-table tbody tr td:last-child {
    border-right: 2px solid  #0370ff;
  }
  
  .button-header {
    padding-bottom: 10px;
  }

  .delete-button {
    background-color: #2898a7;
    font-family: "Madimi One", sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }

  .deleted-message {
    font-size: 1.5rem;
    font-family: "Madimi One", sans-serif;
    color: navy;
    text-align: center;   
    display: none; /* Initially hide the message */
    opacity: 1; /* Initially fully visible */
    transition: opacity 1s ease;
  }
  
.hidden {
  opacity: 0; /* Fully transparent */
  pointer-events: none; /* Disable pointer events to make it unclickable */
}
  .show {
    display: block; /* Show the message */
  }

  .add-flight-btn {
    padding: 2rem 5rem;
    font-size: 4rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #F2494C;
    color: #FFF;
    transition: background-color 0.3s ease;
  }
  
  .add-flight-btn:hover {
    background-color: #555;
  }