<div class="button-header">
  <button class="delete-button" (click)="deleteLog()">
    Delete
  </button>
  <span class="error-message" *ngIf="showErrorMessage">Please make a valid selection</span>
  <span class="deleted-message" *ngIf="showDeletedMessage">Your entry has been deleted</span>
</div>
<div></div>
<table class="logbook-table">
  <thead>
    <tr>
      <th>Check</th>
      <th *ngFor="let key of getKeys()" class="header-cell">{{ key }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let entry of logEntries; let i = index"
      [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"
    >
      <td class="checkbox-cell">
        <input type="checkbox"
        (click)="toggleCheckbox(i)"
        [checked]="selectedRowId === i"
        
        />
      </td>
      <td *ngFor="let key of getKeys()" class="data-cell">
        {{ entry[key] }}
      </td>
    </tr>
  </tbody>
</table>
