:root {
  --darkBlue: #0A4054;
  --lightgrey: #E7E6E6;
  --tealdark: #66B2B0;
  --pinkdark: #F2494C;
  --pinklight: #F39891;
  --orangedark: #F9AA18;
  --orangelight: #F9C996;
  --teallight: #9FD1D0;
  --backgroundTeal: #CEE8E7;
  --backgroundPink: #FCD8D9;
  --backgroundBlue: #D9F2FB;
  --brightblue: #0563C1;
  --white: #FFFF;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Madimi One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3rem;
  font-family: "Madimi One", sans-serif;
}

.square {
  flex: 1;
  margin: 0 .5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1%;
  border-radius: 35px;
  box-sizing: border-box;
}

.bottom-text {
  text-align: center;
  margin-top: auto;
  padding: 0.5% 0;
  font-family: "Madimi One", sans-serif;
}

h2 {
  font-size: 2rem;
  color: #0A4054;
  margin-left: 2rem;
}

h3 {
  font-size: 1.6rem;
  color: #0A4054;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #0A4054;
  margin: 0.2rem 0;
}

.add-flight-btn {
  padding: 2rem 5rem;
  font-size: 2rem;
  font-family: "Madimi One", sans-serif;
  font-weight: 200;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  background-color: #0A4054;;
  color: #FFF;
  transition: background-color 0.3s ease;
}

.add-flight-btn:hover {
  background-color: #555;
}

.landing-page {
  position: absolute;
  top: 13rem; /* Offset from the top */
  left: 2rem; /* Offset from the right */
  padding: 5px 10px; /* Some padding for aesthetics */
  border-radius: 5px; /* Optional: Curved edges */
}

.square-teal {
  background-color: #8cadac;
  border: 3px solid #4A8A8D;
  color: var(--white);
}

.square-pink {
  background-color: #d4cdeb;
  border: 3px solid #746992;
  color: var(--darkBlue);
}

.square-orange {
  background-color: #c3c6d1;
  border: 3px solid #77788a;
  color: var(--white);
}

.requirements {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.requirement {
  flex: 1 1 48%; /* Two items per row */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.requirement:nth-child(odd) {
  margin-right: 1%; /* Adding right margin to the first column */
}

.pie-chart-container {
  width: 100%; /* Ensure the canvas fills the container */
  height: 100%; /* Ensure the canvas fills the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayName {
  font-weight: bold; /* Making the display name bold */
  text-decoration: underline; /* Adding underline to the display name */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  h2 {
      font-size: 1rem;
      margin-left: .5rem;
  }

  h3 {
      font-size: 1rem;
  }

  p {
      font-size: 0.75rem;
  }

  .container {
      flex-direction: column;
      align-items: center;
  }

  .square {
      width: 90%;
      margin-bottom: 1rem;
      padding: 1rem;
  }

  .add-flight-btn {
      padding: 1rem 3rem;
      font-size: 1.5rem;
  }

  .landing-page {
      top: 10rem;
      left: 1rem;
  }

  .requirement:nth-child(odd) {
      margin-right: 0; /* Removing right margin for small screens */
  }
}
