.reports-container {
  margin: 20px auto;
  max-width: 90%;
  font-family: "Madimi One", sans-serif;
}

.ratings-box {
  background-color: rgb(242, 210, 250); /* Light transparent color */
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
}
.medical-box {
  background-color: rgba(115, 245, 212, 0.986); /* Light transparent color */
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
}
.other-box {
  background-color: rgba(252, 253, 207, 0.952); /* Light transparent color */
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
}

.ratings-box h3, .medical-box h3, .other-box h3 {
  text-align: center;
  margin-bottom: 10px;
}

.rating-items, .medical-items, .other-items {
  display: flex;
  flex-wrap: wrap;
}

.rating-item, .medical-item, .other-item {
  flex: 0 0 50%; /* Two items per row */
  padding: 5px 10px;
}

.other-box {
  border: 1px solid #ccc; /* Gray border for other-box */
}
