<header>
    <nav>
      <ul>
        <li><a href="#" class="menu" routerLink="/"><img src="assets/images/homePP.png" alt="home">Home</a></li>
        <li><a href="#" class="menu" routerLink="/logbook"><img src="assets/images/logbookPP.png" alt="logbook">Logbook</a></li>
        <li><a href="#" class="menu" routerLink="/add-flight"><img src="assets/images/addflight.png" alt="addFlight">Add Flight</a></li>
      </ul>
    </nav>
    <div class="logo"><img src="assets/images/bigLogo.png" alt="Logo"></div>
    
    <nav>
      <ul>
        <li><a href="#" class="menu" routerLink="/user"><img src="assets/images/profilePP.png" alt="user">Profile
        </a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
  