* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This makes sure padding does not affect the total width/height of an element */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.hamburger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.main-menu {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

/*icon images*/
nav ul li img {
  width: 4rem;
  height: 4rem;
  display: block; /* Treat image as block element */
  margin: 0 auto; /* Center the image */
}

.logo img {
  width: auto;
  height: 15rem;
  margin: 0 auto;
  margin-right: 8rem;
}

.menu {
  font-family: 'Gill Sans', sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 10px 20px;
  color: #0A4054;
  text-decoration: none; /* Removing the underline */
}

.menu:hover {
  color: #555;
}

.menu img {
  margin-bottom: 10px; /* Space between image and text */
}

nav ul li a:hover img {
  opacity: 0.7;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    position: absolute;
    left: 1rem; /* Adjust the position slightly left */
    top: 1rem;
  }

  .main-menu {
    display: none;
    flex-direction: column;
    width: 50%; /* Adjust width to be narrower */
    background-color: #e0f7fa; /* Solid light blue background */
    position: absolute;
    top: 3.5rem;
    left: 0;
    z-index: 1000;
    padding: 1rem;
    border-radius: 25px; /* Rounded corners */
  }

  .main-menu.visible {
    display: flex;
  }

  .main-menu ul {
    flex-direction: column;
    align-items: center; /* Center icons in the column */
  }

  .main-menu ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .main-menu ul li:last-child {
    margin-bottom: 0;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo img {
    height: 10rem;
    margin-right: 0;
  }
  .rotate-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: "Madimi One", sans-serif;
    font-size: 16px;
    text-align: center;
  }
}
