:root {
    --darkBlue: #0A4054;
    --lightgrey: #E7E6E6;
    --tealdark: #66B2B0;
    --pinkdark: #F2494C;
    --pinklight: #F39891;
    --orangedark: #F9AA18;
    --orangelight: #F9C996;
    --teallight: #9FD1D0;
    --backgroundTeal: #CEE8E7;
    --backgroundPink: #FCD8D9;
    --backgroundBlue: #D9F2FB;
    --brightblue: #0563C1;
    --white: #FFFF;
    --font-family: Gill Sans Ultra Bold;
  }
  